/* greek-ext */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v8/IG4DpJdcfaM4xln_vfh5jQ.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v8/nlGT-2rsvmEdRn3zJayfCg.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v8/20cHEn_N7ful33K3E0HU-A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local('Cardo'), local('Cardo-Regular'), url(https://fonts.gstatic.com/s/cardo/v8/XRgRvJ9BvurZhQZpuWMwgw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*
#36393B
#3C6E71
#70AE6E
#BEEE62
#F4743B
*/

body {
    font-family: 'Lato', sans-serif;
}

body .reveal {
    font-family: 'Lato', sans-serif;
    color: #dbdbde;
}

.reveal,
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #F4743B;
    font-weight: bolder;
    font-family: 'Cardo', serif;
}

.reveal a {
    color: #BEEE62;
}

.reveal .backgrounds, .reveal .progress, body {
    background-color: #000000;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #BEEE62;
}
.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #F4743B;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #BEEE62;
}
.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #F4743B;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #BEEE62;
}
.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #F4743B;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #BEEE62;
}
.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #F4743B;
}

.reveal .slides ul {
    margin: 0px;
}
.reveal .slides li {
    line-height: 1.2em;
    margin-bottom: 0.4em;
    margin-left: 1.5em;
}

.reveal .grid {

}

.reveal .grid .col-1-2 {
    width: 50%;
}
.reveal .grid .col-2-3 {
    width: 66.66%;
}
.reveal .grid .col-1-3 {
    width: 33.33%;
}
.reveal .grid .col-1-4 {
    width: 25%;
}
.reveal .grid .col-3-4 {
    width: 75%;
}

[class*='col-'] {
  float: left;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

.reveal .intro-slide {
    color: #3C6E71;
    margin-top: 4em;
    text-align: left;
}
.reveal .intro-slide h1, .reveal .intro-slide h2 {
    color: #70AE6E;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 3.4em;
}

.reveal .intro-slide h2 {
    font-family: 'Cardo', serif;
    color: #F4743B;
    font-size: 1.5em;
}

.reveal .intro-slide .author {
    color: #70AE6E;
    margin-top: 8em;
    text-align: right;
}

.reveal strong {
    color: #F4743B;
}

.reveal .content {
    widht: 100%;
    text-align: left;
}

.reveal code {
    background-color: #313d40;
    color: #F4743B;
    font-weight: normal;
}